header{
	background:url("home img.jpeg");
	background-size:cover;
	background-attachment:fixed;
	height:100vh;
		
}
.costumnav{
	background-color: rgba(255, 255, 255, 0.8);
}
ul li{
	font-size:1.2rem;
}
.homeBanner, .articleServices div{
	background-color:rgba(14, 92, 152, .4);
}
.btn-outline-success{
	color:black;
	border-width:2px;
}
a:hover{
	text-decoration:none;
}


img{
	z-index:2;
}

.aboutText, .contactText{
	top:-60px;
	z-index:1;
	background-color:rgb(14, 92, 152);
	padding:70px 0 20px 0;
	font-size:1.2rem;
}
.articleServices{
	background:url("article pozadina.jpeg");
	background-size:cover;
	background-attachment:fixed;
}
.articleServices h2{
	color:rgb(80, 80, 80);
}
.portfolio img{
	border:1.5px solid white;
	padding:6.5px;
}
.portfolio img:hover{
	background-color:white;
}
.portfolioButton{
	background-color:white;
	color:black;
	border:none;
}
.divContact img{
	border-radius:50%;
}
.contactText{
	color:white;
}
.submit{
	background-color:white;
}
footer{
	color:white;
	background-color:black;
	width:100%;
	height:120px;
	padding:5%;
}

@media only screen and (min-width: 576px){
	.divAbout{
		background-color:rgb(14, 92, 152);
	}
	
	.aboutText, .contactText{
		top:0px;
		padding:20px;
	}
}
@media only screen and (max-width: 992px) {
	ul li a{
	font-size:1.6rem;
}
}
@media only screen and (min-width: 992px) {
    html {
        font-size:1.1rem;
    }
	
}
@media only screen and (min-width: 1200px) {
    html {
        font-size:1.3rem;
    }
}

